<h1>Bienvenidos al curso</h1>
    <h2>Mg. Flor Elizabeth Cerdán León</h2>
    <h3>Todo lo puedo en Cristo que me fortalece</h3>

    <h1> Proyecto Web(LP3 -2024) | Flor Cerdan </h1>
    <hr/>
    <ul>
        <li>
        <a href="/inicio"> Inicio</a>
        </li>

        <li>
        <a href="/saludo">Mensaje de saludo</a>
        </li>

        <li>
        <a href="/rango"> Mostrar numeros [a,b]</a>
        </li>

        <li>
        <a href="/rango2/10/15"> Mostrar numeros [10,15]</a>
        </li>
    </ul>
    <hr/> 